
<div class="modalWrap">
    <h2>아이의 첫걸음</h2>

    <form name="childForm" method="post" action="/child/regist" enctype="multipart/form-data">
    <input type="text" placeholder="내 아이의 이름을 입력해 주세요." class="input-box" required name="childName"/>

        <input type="hidden" name="childKey" value="">

    <div class="gender-select">
        <label for="girl" class="gender girl">
            <img src="/img/girl.png" alt="Girl" />
        </label>
        <input type="radio" name='childGender' required id="girl" value="F" hidden>
        <label for="boy" class="gender boy" >
            <img src="/img/boy.png" alt="Boy" />
        </label>
        <input type="radio" name="childGender" required id="boy" value="M" hidden>
    </div>

        <div class="pickup-switch-section">
            <span>하원 서비스 사용 여부</span>
            <label class="switch-button">
                <input type="checkbox" name="kmPickup" checked>
                <span class="onoff-switch"></span>
            </label>
        </div>

    <div class="regChild-kinder-search-wrap">
        <input type="text" placeholder="어린이집명을 입력하세요" name="regChild-kinder-name" autocomplete="off">
        <input type="hidden" name="regChild-kinder-key">
        <div id="autocomplete-list" class="autocomplete-list"
             style="position:absolute; top:100%; left:0; right:0; z-index:99; background:white; border:1px solid #ccc; display:block;">
        </div>
    </div>






        <input type="text" name='childBirth' placeholder="내 아이와의 처음 만난 일자를 입력해주세요" required class="input-box birth" autocomplete="off"/>


    <div class="upload-section">
        <p>내 아이 사진 등록하기</p>
        <p>(등록되지 않은 경우, 기본 이미지로 대체됩니다.)</p>
        <label class="photo-upload" for="child-photo">
            <span>+</span>
        </label>
        <input type="file" name='file' id="child-photo" hidden>
    </div>

    <button type="submit" class="submit-btn">등록하기</button>
    </form>
</div>

<!-- 성별 미선택 알림 모달 -->
<div id="gender-alert-modal" class="modal" style="display: none;">
    <div class="modal-content gender-alert-box">
        <p id="gender-alert-message">성별을 선택해주세요.</p>
        <div class="modal-buttons">
            <button id="gender-alert-confirm-btn" class="gender-confirm-btn">확인</button>
        </div>
    </div>
</div>

