
<div class="modalWrap">
    <h2>아이의 첫걸음</h2>

    <form action="regChildSubmit">
    <input type="text" placeholder="내 아이의 이름을 입력해 주세요." class="input-box"/>

    <div class="gender-select">
        <div class="gender girl">
            <img src="/img/girl.png" alt="Girl" />
        </div>
        <div class="gender boy">
            <img src="/img/boy.png" alt="Boy" />
        </div>
    </div>

    <input type="date" placeholder="내 아이와의 처음 만난 일자를 입력해주세요" class="input-box"/>

    <div class="upload-section">
        <p>내 아이 사진 등록하기</p>
        <label class="photo-upload" for="child-photo">
            <span>+</span>
        </label>
        <input type="file" id="child-photo"hidden>
    </div>

    <button class="submit-btn">등록하기</button>
    </form>
</div>