<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="css/home.css" />
<link rel="stylesheet" href="css/modal/startManage.css" />
<script src="/js/jquery-1.12.1.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/home.js"></script>
<script src="/js/modal/startManage.js"></script>
<head>
    <th:block th:replace="~{/include/headerbaseLayout}"/>
    <title>기사 홈화면</title>

</head>
<body>
<th:block th:replace="~{/include/baseLayout :: setContent(~{ :: .app-content})}">
    
    <section class="app-content">
    <div class="driver-info">
        <img src="/img/driver_icon.png" alt="기사 아이콘" class="avatar" />
        <div class="driver-text"><strong>[[${driverInfo.userName}]] 기사님</strong> 반갑습니다</div>
    </div>

    <h2>오늘의 배차</h2>

        <table class="dispatch-table">
            <tbody>
            <tr class="card" th:each="list : ${recordInfo}"
                th:classappend="${list.recordState == 'E' ? 'completed':''} +
                                ${list.recordState == 'S' ? 'active':''} +
                                ${list.recordState == 'P' ? 'scheduled':''}">
                <td>
                    <div class="labels">
                        <span class="labels_name">운행담당자 - [[${driverInfo.userName}]]</span>
                        <span class="labels_status"
                              th:text="${list.recordState == 'E' ? '운행종료':''} +
                                       ${list.recordState == 'S' ? '운행중':''} +
                                       ${list.recordState == 'P' ? '운행예정':''}"></span>
                    </div>
                    <div class="title" th:text="${list.recordCarName}"></div>
                    <div class="subtitle" th:text="${list.recordName}"></div>
                    <div class="time">운행 | 09:00 ~ 09:45</div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="modal-overlay" id="dispatchModal">
            <div class="modal">
                <h2 class="modal-title">동대문구 1노선 배차</h2>
                <p class="modal-subtitle">123가 1300 호랑이차량</p>
                <p class="modal-time">운행소요시간: <strong>30분</strong></p>

                    <div class="modal-buttons">
                    <button class="btn cancel">취소</button>
                    <button class="btn start">운행시작</button>
                </div>
            </div>
        </div>

    </section>
</th:block>
</body>
</html>