<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="css/home.css" />
<link rel="stylesheet" href="css/modal/startManage.css" />
<script src="/js/jquery-1.12.1.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/home.js"></script>
<script src="/js/modal/startManage.js"></script>
<head>
    <th:block th:replace="~{/include/headerbaseLayout}"/>
    <title>기사 홈화면</title>

</head>
<body>
<th:block th:replace="~{/include/baseLayout :: setContent(~{ :: .app-content})}">
    
    <section class="app-content">
    <div class="driver-info">
        <img src="/img/driver_icon.png" alt="기사 아이콘" class="avatar" />
        <div class="driver-text"><strong>[[${driverInfo.userName}]] 기사님</strong> 반갑습니다</div>
    </div>


    <h2>오늘의 배차 - [[${kinderInfo.kinderName}]]</h2>

        <th:block th:if="${driveInfo !=null}">
        <table class="dispatch-table">
            <tbody>
            <tr class="card" th:each="list : ${driveInfo}"
                th:classappend="${list.recordVO.recordState == 'E' ? 'completed':''} +
                                ${list.recordVO.recordState == 'S' ? 'active':''} +
                                ${list.recordVO.recordState == 'P' ? 'scheduled':''}"
                th:data-driveInfo-name="${list.driveInfoName}"
                th:attr="data-record-key=${list.recordVO.recordKey}"> <!--recodkey받기위해추가-->


                <td>
                    <div class="labels">
                        <span class="labels_name">운행담당자 - [[${driverInfo.userName}]]</span>
                        <span class="labels_status"
                              th:text="${list.recordVO.recordState == 'E' ? '운행종료':''} +
                                       ${list.recordVO.recordState == 'S' ? '운행중':''} +
                                       ${list.recordVO.recordState == 'P' ? '운행예정':''}"></span>
                    </div>
                    <div class="title" th:text="${list.driveCarName}" th:attr="data-record-car-name=${list.driveCarName}"></div>
                    <div class="subtitle" th:text="${list.driveInfoName}" th:attr="data-record-name=${list.driveInfoName}"></div>
                    <div class="time">운행 | 09:00 ~ 09:45</div>
                </td>
            </tr>
            </tbody>
        </table>

        </th:block>
        <div class="modal-overlay" id="dispatchModal">
            <div class="modal">
                <h2 class="modal-title">노선 이름</h2>
                <p class="modal-subtitle">차량 이름</p>
                <p class="modal-left">하차 남은 인원: <strong class="modal-leftCount">4명</strong></p>

                    <div class="modal-buttons">
                    <button class="btn cancel">취소</button>
                    <button class="btn start">운행시작</button>
                </div>
            </div>
        </div>
    </section>
</th:block>
</body>
</html>