<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/include/headerBaseLayout"/>
    <title>기사 어플 로딩화면</title>
    <link rel="stylesheet" href="/css/loading.css">
    <script src="/js/loading.js"></script>
</head>
<body>
    <section class="app-wrapper">
        <div class="logo_wrap">
            <div class="logo">
                <img src="/img/logo.png" alt="">
                <p>우리아이 안심서비스</p>
            </div>
        </div>
    </section>
</body>
</html>