<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>하차 확인 모달</title>
    <script src="/js/jquery-1.12.1.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
</head>
<body>

<div class="modal-overlay" id="dispatchModal">
    <div class="modal">
        <h2 class="modal-title">홍길동(5세)</h2>
        <p class="modal-subtitle">동대문구 답십리 1동</p>
        <p class="modal-time">도착시간 <strong>21시 5분</strong></p>

        <div class="modal-buttons">
            <button class="btn cancel">취소</button>
            <button class="btn finish">하차 완료</button>
        </div>
    </div>
</div>


</body>
</html>