<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>배차 모달</title>
    <link rel="stylesheet" href="/css/modal/startManage.css" />
    <script src="/js/jquery-1.12.1.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/modal/startManage.js"></script>
</head>
<body>

<div class="modal-overlay" id="dispatchModal">
    <div class="modal">
        <h2 class="modal-title">동대문구 1노선 배차</h2>
        <p class="modal-subtitle">123가 1300 호랑이차량</p>
        <p class="modal-time">운행소요시간: <strong>30분</strong></p>

        <div class="modal-buttons">
            <button class="btn cancel">취소</button>
            <button class="btn start">운행시작</button>
        </div>
    </div>
</div>


</body>
</html>