<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.userapp.children.mapper.ChildrenMapper">

    <!-- id는 resultMap의 이름, type에는 객체타입 -->
    <!-- id = 키에 대한 맵핑,  property  = 멤버변수명, column = 실제컬럼명-->
    <resultMap id="kinderOfChild" type="ChildrenVO">
        <id property="childKey" column="child_key" />
        <result property="childName" column="child_name" />
        <result property="childBirth" column="child_birth" />
        <result property="childGender" column="child_gender" />
        <result property="kmPickup" column="km_pickup"/>


        <!-- 연관 유치원 정보 -->
        <association property="kinderVO" javaType="KinderVO">
            <id property="kinderKey" column="kinder_key"/>
            <result property="kinderName" column="kinder_name"/>
            <result property="kinderPostcode" column="kinder_postcode"/>
            <result property="kinderAddress" column="kinder_address"/>
            <result property="kinderOpenTime" column="kinder_open_time"/>
            <result property="kinderCloseTime" column="kinder_close_time"/>
            <result property="kinderWeekendOpen" column="kinder_weekend_open"/>
            <result property="kinderNightOpen" column="kinder_night_open"/>
            <result property="kinderCapacity" column="kinder_capacity"/>
        </association>

        <association property="recordVO" javaType="RecordVO">
            <id property="recordKey" column="record_key"/>
            <result property="recordStartTime" column="record_start_time"/>
            <result property="recordEndTime" column="record_end_time"/>
            <result property="recordState" column="record_state"/>
            <result property="driveInfoKey" column="drive_info_key"/>
        </association>

        <association property="driveInfoVO" javaType="DriveInfoVO">
            <id property="driveInfoKey" column="drive_info_key"/>
            <result property="driveInfoName" column="drive_info_name"/>
            <result property="driveCarName" column="drive_car_name"/>
            <result property="driverKey" column="user_key"/>
        </association>

    </resultMap>


    <insert id="registChild" parameterType="ChildrenVO" useGeneratedKeys="true" keyProperty="childKey">
        insert into CHILDREN(child_name, child_birth,
                             child_gender,parent_key)
        values(#{childName},#{childBirth},#{childGender},#{parentKey})
    </insert>

    <insert id="registKinderRelation" parameterType="int">
        insert into KINDERMATCH(CHILD_KEY, KINDER_KEY)
        VALUES(#{childKey}, #{kinderKey})
    </insert>
    <delete id="deleteChild" parameterType="int">
        delete from CHILDREN where child_key=#{childKey}
    </delete>

    <select id="myChildren" resultMap="kinderOfChild">

        select c.*,k.*,r.*,di.*
        from children c
                 left join kindermatch km
                           on c.child_key=km.child_key
                 left join kinder k
                           on km.kinder_key=k.kinder_key
                 left join recordMatch rm
                           on km.km_key = rm.km_key
                 left join record r
                           on rm.record_key = r.record_key
                 left join driveinfo di
                           on r.drive_info_key = di.drive_info_key
        where c.parent_key=#{parentKey}
    </select>

    <!-- 아이 정보 수정 모달 창에 DB에 저장되어 있는 정보를 가져와서 입력해두는 기능-->
    <select id="getChildDetail" resultMap="kinderOfChild" parameterType="int">
        select c.*, k.*, km.km_pickup
        from children c
                 left join kindermatch km on c.child_key = km.child_key
                 left join kinder k on km.kinder_key = k.kinder_key
        where c.child_key = #{childKey}
    </select>


    <!-- 아이 카드 정보 수정 기능 -->
    <update id="updateChild" parameterType="ChildrenVO">
        UPDATE CHILDREN
        SET child_name = #{childName},
            child_birth = #{childBirth},
            child_gender = #{childGender}
        WHERE child_key = #{childKey}
    </update>




</mapper>