<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.userapp.community.mapper.CommunityMapper">

    <select id="getPostList" resultType="PostVO">
        SELECT
            p.POST_KEY AS postKey,
            p.POST_TITLE AS postTitle,
            p.POST_CONTENT AS postContent,
            p.POST_REGDATE AS postRegdate,
            p.USER_KEY AS userKey,
            u.USER_NAME AS userName,
            f.file_path AS profileImageUrl
        FROM post p
                 JOIN user u ON p.USER_KEY = u.USER_KEY
                 LEFT JOIN (
            SELECT file_path, user_key
            FROM (
                     SELECT *,
                            ROW_NUMBER() OVER (PARTITION BY user_key ORDER BY file_regdate DESC) AS rn
                     FROM files
                     WHERE file_path LIKE '/upload/%'
                 ) t
            WHERE rn = 1
        ) f ON f.user_key = u.user_key
        ORDER BY p.POST_KEY DESC


    </select>
  
    <select id="getPostById" resultType="PostVO">
        SELECT
            p.POST_KEY AS postKey,
            p.POST_TITLE AS postTitle,
            p.POST_CONTENT AS postContent,
            p.POST_REGDATE AS postRegdate,
            p.USER_KEY AS userKey,
            u.USER_NAME AS `userName`
--             u.KINDER_NAME AS kinderName
        FROM post p
                 JOIN user u ON p.USER_KEY = u.USER_KEY
        WHERE p.POST_KEY = #{postKey}
    </select>


    <insert id="write" parameterType="PostVO">
        INSERT INTO POST(post_title, post_content, user_key)
        VALUES(#{postTitle},#{postContent},#{userKey})
    </insert>

    <insert id="writeComment" parameterType="CommentVO">
        insert into
        `comment`(COMMENT_CONTENT, POST_KEY, USER_KEY)
        values (#{commentContent}, #{postKey}, #{userKey})
    </insert>

    <select id="getAllComment" resultType="CommentVO">
        select c.*, u.USER_NAME as userName
        from comment c
        left join user u on c.USER_KEY = u.USER_KEY
        where POST_KEY = #{postKey}
    </select>

    <select id="getCommentCountByPostKey" resultType="Integer">
        select count(*)
        from comment
        where POST_KEY = #{postKey}
    </select>
      
</mapper>