<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.userapp.files.mapper.FilesMapper">

    <insert id="registFile" parameterType="FileVO">
        insert into files (
        file_name, file_path, file_uuid, file_regdate
        <if test="childKey != '' and childKey != null">, child_key</if>
        <if test="kinderKey != '' and kinderKey != null">, kinder_key</if>
        <if test="userKey != '' and userKey != null">, user_key</if>
        )
        values (
        #{fileName}, #{filePath}, #{fileUuid}, NOW()
        <if test="childKey != '' and childKey != null">, #{childKey}</if>
        <if test="kinderKey != '' and kinderKey != null">, #{kinderKey}</if>
        <if test="userKey != '' and userKey != null">, #{userKey}</if>
        )
    </insert>

    <update id="updateFileByUser" parameterType="FileVO">
        update files
        set file_name = #{fileName},
            file_path=#{filePath},
            file_uuid=#{fileUuid},
            file_regdate=NOW()
        where user_key=#{userKey}
    </update>

    <!--업로드된 파일 불러오는 기능-->
    <select id="selectProfileByChild" resultType="FileVO" parameterType="Integer">
        SELECT *
        FROM FILES
        WHERE child_key = #{childKey}
        ORDER BY file_regdate DESC
        LIMIT 1
    </select>

    <delete id="deleteByChildKey" parameterType="int">
        DELETE FROM FILES WHERE CHILD_KEY = #{childKey}
    </delete>

    <select id="selectProfileByUser" resultType="FileVO" parameterType="Integer">
        SELECT *
        FROM FILES
        WHERE user_key = #{userKey}
        ORDER BY file_regdate DESC
            LIMIT 1
    </select>

    <select id="isExistFileByUserKey" resultType="int">
        SELECT COUNT(*) FROM FILES
        WHERE user_key = #{userKey}
    </select>

</mapper>