<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.userapp.kinder.mapper.KinderMapper">

    <select id="getKinderList" resultType="KinderVO">
        select *
        from kinder
    </select>

    <insert id="insertKinder" parameterType="KinderVO" useGeneratedKeys="true" keyProperty="kinderKey">
        INSERT INTO KINDER (
            KINDER_NAME, KINDER_PHONE, KINDER_POSTCODE,
            KINDER_ADDRESS, KINDER_WEEKEND_OPEN,
            KINDER_NIGHT_OPEN, KINDER_CAPACITY
        ) VALUES (
                     #{kinderName}, #{kinderPhone}, #{kinderPostcode},
                     #{kinderAddress}, #{kinderWeekendOpen},
                    #{kinderNightOpen}, #{kinderCapacity}
                 )
    </insert>

    <select id="existsByNameAndPhone" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM KINDER
        WHERE KINDER_NAME = #{kinderName} AND KINDER_PHONE = #{kinderPhone}
    </select>

</mapper>