<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.userapp.kindermatch.mapper.KinderMatchMapper">


    <delete id="deleteByChildKey" parameterType="int">
        DELETE FROM KINDERMATCH WHERE CHILD_KEY = #{childKey}
    </delete>

    <insert id="insertMatch" parameterType="KinderMatchVO">
        INSERT INTO KINDERMATCH (CHILD_KEY, KINDER_KEY, KM_PICKUP)
        VALUES (#{childKey}, #{kinderKey}, #{kmPickup})
    </insert>

    <update id="updatePickup" parameterType="KinderMatchVO">
        UPDATE KINDERMATCH
        SET KM_PICKUP = #{kmPickup}
        WHERE CHILD_KEY = #{childKey}
    </update>




</mapper>