<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/include/headerbaseLayout}"/>
    <title>승하차관리페이지</title>
    <link rel="stylesheet" href="/css/driver/manage.css">
    <link rel="stylesheet" href="/css/child/childDetail.css">

</head>
<body>
<th:block th:replace="~{/include/baseLayout :: setContent(~{ :: .app-content})}">

    <section class="app-content">
        <div class="content-header">
            <div class="backBtn"><img src="/img/back.png" alt="뒤로가기"></div>
            <div class="header-comment-wrap">
                <p class="header-mainComment">아이 상세 정보</p>
            </div>
        </div>

        <!-- Profile Section -->
        <div class="profile-card">
            <div class="profile-img">
                <img src="/img/girl.png" alt="아이 이미지" />
            </div>
            <div class="name">홍길동</div>

            <!-- Info Box -->
            <div class="info-box">
                <div class="info-row"><span class="label">성별</span><span class="value">남</span></div>
                <div class="info-row"><span class="label">부모</span><span class="value">홍상직</span></div>
                <div class="info-row">
                    <span class="label">주소</span>
                    <span class="value">서울시 동대문구 전농로 210 201동 304호</span>
                </div>
                <div class="info-row"><span class="label">전화</span><span class="value">010-1234-5678</span></div>
                <div class="info-row"><span class="label">유치원</span><span class="value">햇빛유치원</span></div>
            </div>
        </div>




    </section>
</th:block>
</body>
</html>