<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/include/headerBaseLayout"/>
    <title>포스팅 상세화면</title>

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/community/postDetail.css">

    <script src="/js/common.js"></script>
    <script src="/js/community/postDetail.js"></script>

    <!-- Air Datepicker -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/air-datepicker@3.5.3/air-datepicker.css">
    <script src="https://cdn.jsdelivr.net/npm/air-datepicker@3.5.3/air-datepicker.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!--  flatpickr 한글설정  -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ko.js"></script>
</head>

<body>

<th:block th:replace="~{/include/baseLayout :: setContent(~{ :: .app-content})}">
    <section class="app-content">
        <div class="post-detail-page">

            <div class="post-title" th:text="${post.postTitle}">다들 아이 픽업 어떻게 하시나요?</div>

            <div class="post-header">
                <img src="/img/boy.png" alt="프로필" class="profile-img">
                <div class="user-info">
                    <div class="user-name">이름</div>
                </div>
                <div class="post-time">8분 전</div>
                <div class="post-menu">⋮</div>
            </div>

            <div class="post-content" th:text="${post.postContent}">

            </div>

            <div class="post-footer">
                <div class="post-stats">
                    <span>💬</span><span th:text="${post.countComment}"></span>
                </div>
            </div>

            <div class="comments-section">

                <div class="comment-card" th:each="commentList : ${comment}">
                    <div class="comment-header">
                        <img src="/img/boy.png" alt="프로필" class="comment-profile-img">
                        <div class="comment-info">
                            <div class="comment-user-name" th:text="${commentList.userName}">이름</div>
                            <div class="comment-time" th:text="${commentList.elapsedTime}"></div>
                        </div>
                    </div>
                    <div class="comment-body" th:text="${commentList.commentContent}">

                    </div>
                </div>

            </div>


        </div>
        <div class="comment-input-area"
             th:data-post-key="${post.postKey}"
             th:data-post-user-key="${post.userKey}"
             >
            <input type="text" placeholder="댓글을 입력하세요" class="comment-input">
            <button type="submit" class="comment-submit">전송</button>
        </div>


    </section>
</th:block>



</body>
</html>