<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/include/headerBaseLayout"/>
    <title>글쓰기</title>
    <link rel="stylesheet" href="/css/community/postWrite.css">
</head>
<body>

<th:block th:replace="~{/include/baseLayout :: setContent(~{ :: .app-content})}">

    <section class="app-content">

        <form class="writePage" name="writePage" method="post" th:action="${postKey == null ? 'postWrite' : 'postUpdate' }">
            <input type="hidden" name="postKey" th:value="${postKey}">

            <div class="write-card">
                <button type="submit" class="write-finish-btn">완료</button>
                <input type="text" class="write-title" name="postTitle" placeholder="제목" maxlength="50" required th:value="${PostVO.postTitle} ?: ''" />
                <hr class="write-divider" />
                <textarea class="write-content" name="postContent" placeholder="내용" required th:text="${PostVO.postContent} ?:''"></textarea>
            </div>

            <!-- 이미지 업로드 영역 -->
            <div class="upload-section">
                <p class="childPhoto">게시물 사진 등록하기</p>
                <p class="childPhotoDetail">(최대 5장까지 등록 가능합니다.)</p>
                <label class="photo-upload" for="file-upload">
                    <span>+</span>
                </label>
                <input type="file" id="file-upload" name="uploadImages" accept="image/*" multiple hidden>
            </div>

            <!-- 이미지 썸네일 미리보기 영역 -->
            <div class="thumbnail-preview"></div>
        </form>

    </section>
</th:block>

<script src="/js/community/postWrite.js"></script>

</body>
</html>
