<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/include/headerBaseLayout"/>
    <title>글쓰기</title>

    <link rel="stylesheet" href="/css/community/postWrite.css">

</head>
<body>

<th:block th:replace="~{/include/baseLayout :: setContent(~{ :: .app-content})}">

    <section class="app-content">

        <form class="writePage" name="writePage" method="post" th:action="${postKey == null ? 'postWrite' : 'postUpdate' }">

            <input type="hidden" name="postKey" th:value="${postKey}">

            <div class="write-card">
                <button type="submit" class="write-finish-btn">완료</button>

                <input type="text" class="write-title" name="postTitle" placeholder="제목" maxlength="50" required />
                     <hr class="write-divider" />
                <textarea class="write-content" name="postContent" placeholder="내용" required></textarea>
            </div>

            <!--이미지영역-->
            <div class="write-footer">
                <div class="photo-upload">
                    <img src="/img/camera.png" alt="사진" class="camera-icon" />
                    <span class="photo-count">0/5</span>
                </div>
            </div>

        </form>

    </section>
</th:block>



</body>
</html>