<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/include/headerBaseLayout"/>
    <title>커뮤니티 목록화면</title>

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/community/postList.css">
    <script src="/js/common.js"></script>
    <script src="/js/community/postList.js"></script>

    <!-- Air Datepicker -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/air-datepicker@3.5.3/air-datepicker.css">
    <script src="https://cdn.jsdelivr.net/npm/air-datepicker@3.5.3/air-datepicker.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!--  flatpickr 한글설정  -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ko.js"></script>
</head>

<body>

<th:block th:replace="~{/include/baseLayout :: setContent(~{ :: .app-content})}">
    <section class="app-content">


        <div class="community-page">
            <div class="search-bar">
                <input type="text" class="search">
                <img src="/img/search.png" alt="검색" class="search-icon icon">
                <img src="/img/user.png" alt="내정보" class="icon">
            </div>


            <div class="post-card" th:each="list : ${postList}"
                                    th:data-post-key="${list.postKey}">

                <div class="post-header">
                    <img src="/img/boy.png" alt="프로필" class="profile-img">
                    <div class="user-info">
                        <div class="user-name">푸름</div>
                        <div class="kindergarten-name">강남어린이집</div>
                    </div>
                    <div class="post-time">8분 전</div>
                </div>

                <div class="post-title" th:text="${list.postTitle}">다들 아이 픽업 어떻게 하시나요?</div>
                <div class="post-body" th:text="${list.postContent}">에 보내고 있는데, 가끔 출장 문에문에 픽업 하기 힘들 때가에 보내고 있는데, 가끔 출장 문에문에 픽업 하기 힘들 때가에 보내고 있는데, 가끔 출장 문에문에 픽업 하기 힘들 때가</div>

                <div class="post-footer">
                    <div class="post-stats">
                        <span>💬 댓글 2</span>
                    </div>
                </div>
            </div>

        </div>
    </section>
</th:block>

<div class="post-write">
    + 글쓰기
</div>



</body>
</html>