<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.driverapp.driver.mapper.DriverMapper">

    <!-- id는 resultMap의 이름, type에는 객체타입 -->
    <!-- id = 키에 대한 맵핑,  property  = 멤버변수명, column = 실제컬럼명-->
    <resultMap id="manageOfChildren" type="ChildrenVO">
        <id property="childKey" column="child_key" />
        <result property="childName" column="child_name" />
        <result property="childBirth" column="child_birth" />
        <result property="childGender" column="child_gender" />
        <result property="parentKey" column="parent_key"/>
        <result property="dropState" column="drop_state"/>
        <result property="recordName" column="record_name"></result>

        <!-- 연관 유치원 정보 -->
        <association property="kinderVO" javaType="KinderVO">
            <id property="kinderKey" column="kinder_key"/>
            <result property="kinderName" column="kinder_name"/>
            <result property="kinderPostcode" column="kinder_postcode"/>
            <result property="kinderAddress" column="kinder_address"/>
            <result property="kinderOpenTime" column="kinder_open_time"/>
            <result property="kinderCloseTime" column="kinder_close_time"/>
            <result property="kinderWeekendOpen" column="kinder_weekend_open"/>
            <result property="kinderNightOpen" column="kinder_night_open"/>
        </association>

        <association property="userVO" javaType="DriverVO">
            <id property="userKey" column="user_key"/>
            <result property="userId" column="user_id"/>
            <result property="userPw" column="user_pw"/>
            <result property="userName" column="user_name"/>
            <result property="userBirth" column="user_birth"/>
            <result property="userPostcode" column="user_postcode"/>
            <result property="userAddress" column="user_address"/>
            <result property="userAddressDetail" column="user_address_detail"/>
            <result property="userType" column="user_type"/>
            <result property="userPhone" column="user_phone"/>
            <result property="userRegdate" column="user_regdate"/>
        </association>

    </resultMap>

    <select id="manageOfChildren" resultMap="manageOfChildren" parameterType="int">

        select c.*, u.*, k.*,r.*,rm.*
        from children c
                 left join user u on u.user_key = c.parent_key
                 left join kindermatch km on c.child_key = km.child_key
                 left join kinder k on km.kinder_key = k.kinder_key
                 left join recordmatch rm on km.km_key = rm.km_key
                 left join record r on rm.RECORD_KEY=r.RECORD_KEY
        where c.child_key in (
            select child_key
            from kindermatch
            where km_key in (
                select km_key
                from recordmatch
                where record_key = #{recordKey}
            )
        )

    </select>

    <update id="updateDropState">
        UPDATE recordmatch
        SET drop_state = #{dropState}
        WHERE record_key = #{recordKey}
          AND km_key IN (
            SELECT km_key
            FROM kindermatch
            WHERE child_key = #{childKey}
        )
    </update>


    <select id='idCheck' resultType="int">
        select count(*) from USER where user_id=#{userId}
    </select>

    <insert id="register" parameterType="DriverVO" useGeneratedKeys="true" keyProperty="userKey">
        INSERT INTO USER(user_id,user_pw,user_name,
                         user_birth,user_postcode,user_address,
                         user_address_detail,user_type,user_phone)
        VALUES(#{userId},#{userPw}, #{userName},
               #{userBirth},#{userPostcode},#{userAddress},
               #{userAddressDetail},#{userType},#{userPhone})
    </insert>

    <select id="findInfo" resultType="DriverVO" parameterType="DriverVO">
        select * from USER
        where user_type='D'
        <if test="userPhone != '' and userPhone != null">
            and user_phone=#{userPhone}
        </if>
        <if test="userName != '' and userName != null">
            and user_name =#{userName}
        </if>
        <if test="userId != '' and userId != null">
            and user_Id =#{userId}
        </if>
        <if test="userPw != '' and userPw != null">
            and user_pw =#{userPw}
        </if>

    </select>

    <update id="modify" parameterType="DriverVO">
        update USER
        set user_pw=#{userPw}
        <if test="userBirth != '' and userBirth != null">
            ,user_birth =#{userBirth}
        </if>
        <if test="userPostcode != '' and userPostcode != null">
            ,user_postcode =#{userPostcode}
        </if>
        <if test="userAddress != '' and userAddress != null">
            ,user_address =#{userAddress}
        </if>
        <if test="userAddressDetail != '' and userAddressDetail != null">
            ,user_address_detail =#{userAddressDetail}
        </if>
        where user_id=#{userId}
    </update>

    <select id="findKinderForDriver" resultType="KinderVO">
        SELECT DISTINCT k.*
        FROM DRIVEINFO di
                 JOIN RECORD r ON r.DRIVE_INFO_KEY = di.DRIVE_INFO_KEY
                 JOIN RECORDMATCH rm ON r.RECORD_KEY = rm.RECORD_KEY
                 JOIN KINDERMATCH km ON rm.KM_KEY = km.KM_KEY
                 JOIN KINDER k ON km.KINDER_KEY = k.KINDER_KEY
        WHERE di.USER_KEY = #{driverKey}
    </select>

    <insert id="registerInfo" parameterType="DriveInfoVO">
        INSERT INTO DRIVEINFO (DRIVE_INFO_NAME, DRIVE_CAR_NAME, USER_KEY)
        VALUES (#{driveInfoName}, #{driveCarName}, #{userKey})
    </insert>



    <!--  매일 기사에게 운행 리스트 넣어주는 부분(오전, 오후)  -->
    <!--  오전, 오후에 맞춰 drvieInfo키 가져오기  -->
    <select id="getDriveInfoKey" resultType="Integer">
        select drive_info_key
        from driveInfo
        where drive_info_name like concat('%',#{time},'%')
    </select>

    <insert id="registRecordDailyAM" parameterType="Integer">
        insert into record(record_start_time,record_state,drive_info_key)
        values(TIMESTAMP(CURDATE(), '09:00:00'),'P',#{key})
    </insert>

    <insert id="registRecordDailyPM" parameterType="Integer">
        insert into record(record_start_time,record_state,drive_info_key)
        values(TIMESTAMP(CURDATE(), '16:00:00'),'P',#{key})
    </insert>

    <select id="getRecordMatachInfo" resultType="RecordMatchVO">
        SELECT km.km_key, r.record_key
        FROM kinder k
        JOIN user u
        ON k.kinder_postcode = u.user_postcode
        AND u.user_address_detail = k.KINDER_NAME
        JOIN kindermatch km
        ON km.kinder_key = k.kinder_key
        JOIN driveinfo di
        ON di.user_key = u.user_key
        JOIN record r
        ON r.drive_info_key = di.drive_info_key
        WHERE u.user_type = 'D'
        AND km.km_pickup = 'Y'
        <![CDATA[
          AND r.record_start_time >= TIMESTAMP(CURDATE(), ' 00:00:00')
        ]]>
        <![CDATA[
        AND r.record_start_time <= TIMESTAMP(CURDATE(), ' 23:59:59')
        ]]>
    </select>

    <insert id="registRecordMatchDaily" parameterType="RecordMatchVO">
        insert into RECORDMATCH(km_key,record_key,drop_state)
        values(#{kmKey},#{recordKey},'N')
    </insert>
</mapper>