<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.driverapp.kinder.mapper.KinderMapper">

    <!-- ///////////////주소 유효성 검사///////////////////// -->

    <select id="checkAddress" resultType="int">
        SELECT COUNT(*)
        FROM KINDER
        WHERE KINDER_ADDRESS = #{kinderAddress}
          AND KINDER_NAME = #{kinderName}
          AND KINDER_POSTCODE = #{kinderPostcode}
    </select>


    <select id="getKinderList" resultType="com.project.driverapp.command.KinderVO">
        SELECT *
        FROM KINDER
        WHERE KINDER_NAME
        LIKE CONCAT ('%', #{name} , '%')
    </select>
</mapper>