<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.driverapp.record.mapper.RecordMapper">

    <select id="getRecordList" resultType="RecordVO">
        select *
        from RECORD
        where DRIVER_KEY = ${driverKey}
    </select>
    
    <select id="getRemainPassengerCount" resultType="Integer">
        SELECT COUNT(*)
        FROM record rc
                 LEFT JOIN recordmatch rm ON rc.record_key = rm.record_key
        WHERE rc.record_key = #{recordKey}
          AND drop_state = '하차'
    </select>

    <update id="updateDriveStateFinish" parameterType="Integer">
        update record set record_state ="E" where record_key = #{recordKey} ;
    </update>

    <update id="updateDriveStateStart" parameterType="Integer">
        update record set record_state ="S" where record_key = #{recordKey} ;
    </update>


</mapper>