<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="/include/headerBaseLayout"/>
  <title>유저 홈화면</title>
  <!-- 추가 css, js -->
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/modal.css">
  <link rel="stylesheet" href="/css/regChild.css">
  <script src="/js/modal.js"></script>
  <script src="/js/regChild.js"></script>
  <script src="/js/home.js"></script>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8997d782f5298e9e818dbcbf6a5ab396&libraries=services"></script>

  <!--전화 아이콘-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=call" />

  <!-- Air Datepicker -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/air-datepicker@3.5.3/air-datepicker.css">
  <script src="https://cdn.jsdelivr.net/npm/air-datepicker@3.5.3/air-datepicker.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

  <!--  flatpickr 한글설정  -->
  <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ko.js"></script>
</head>

<body>
<script th:inline="javascript" >
  var msg = [[${msg}]];
  if(msg!=null && msg!=''){
    alert(msg);
  }
</script>
  <th:block th:replace="~{/include/baseLayout :: setContent(~{ :: .app-content})}">
    <section class="app-content">
      <!--   자녀관련부분   -->
      <section class="childList-section">
          <h3>소중한 내 아이들의 걸음마</h3>

          <div class="childList" th:if="${children != null}">
            <div th:each="child : ${children}" class="childInfo-wrap viewInfo"
                 th:data-childKey="${child.childKey}"
                 th:attr="data-recordKey=${child.recordVO != null} ? ${child.recordVO.recordKey} : null">

              <div class="childName">
                <img class="gender man" src="/img/man.png" alt="">
                <p>[[${child.childName}]]</p>
              </div>

              <div class="child-image"><img src="/img/childLogo.png" alt=""></div>
              <p class="kinderName">[[${child.kinderVO.kinderName}]]</p>

              <p class="commuteType rideOn">
                <th:block th:if="${child.recordVO!=null}" th:switch="${child.recordVO.recordState}">
                <span th:case="P">운행전</span>
                <span th:case="S">이동중</span>
                <span th:case="E">운행완료</span>
                </th:block>
                <span th:if="${child.recordVO==null}">-</span>
              </p>
            </div>


            <div class="childInfo-wrap addChild">
              <div class="child-image"><img src="/img/plus.png" alt=""></div>
              <p class="applyComment">내 아이 등록하기</p>
            </div>
          </div>
      </section>

      <!--  어린이집 운영형태    -->
      <form action="#" method="get">
        <section class="kinderType-section">
          <h6> 어린이집 운영형태</h6>
            <div class="kinderType-wrap">
              <label for="allKinder" class="label-wrap select">
                <input type="radio" name="kinderType" id="allKinder" value="A" checked hidden>
                <img src="/img/allKinderType.png" alt="">
                <p>전체</p>
              </label>
              <label for="nightKinder" class="label-wrap">
                <input type="radio" name="kinderType" id="nightKinder" value="N" hidden>
                <img src="/img/nightKinderType.png" alt="">
                <p>야간</p>
              </label>
              <label for="weekKinder" class="label-wrap">
                <input type="radio" name="kinderType" id="weekKinder" value="W" hidden>
                <img src="/img/weekKinderType.png" alt="">
                <p>주말</p>
              </label>
            </div>

        </section>

        <section class="kinderSearch-section">
          <h6>어린이집명 검색</h6>
          <div class="kinder-loc-wrap">
            <select name="kinder-loc" class="kinderLoc">
              <option value="전체">전체</option>
              <option value="강남구">강남구</option>
              <option value="강서구">강서구</option>
              <option value="강북구">강북구</option>
              <option value="강동구">강동구</option>
            </select>
          </div>
          <div class="kinder-search-wrap">
              <input type="text" placeholder="어린이집명을 입력하세요" name="kinder-name">
              <a href="#" class="searchBtn">검색</a>
          </div>
        </section>
      </form>

      <section class="map-section">
        <h6>검색결과</h6>
        <div class="map" id="map">

        </div>
      </section>

      <section class="kinderResult-wrap">

      </section>

      <section class="page-section">
        <div class="paging-wrap">
          <ul class="pagination">

          </ul>
        </div>
      </section>


      <div class="addModal modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <th:block th:replace="~{/modal/regChild}"></th:block>
        </div>
      </div>
    </section>
  </th:block>



</body>
</html>