* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    /* font-family: 'Noto Sans KR', sans-serif; */
    background: #F0FDFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
h3,p {
    text-align: center;
}

h3 {
    font-size: 23px;
    margin-bottom: 7px;
}

p {
    font-size: 13px;
    margin-bottom: 15px;
}

.findBox {
    display: flex;
    justify-content: center;
}

.findForm{
    width: 80%;
}

.findImg {
    display: flex;
    justify-content: center;
}

.findImg > img {
    width: 40%;
}


.find {
    text-align: center;
}

.find > input {
    width: 80%;
    border-radius: 7px;
    padding: 10px;
    margin: 3px;
    border: 1px solid #ddd;
}

.find > .id:focus, .phone:focus {
    border: none;
    outline: 2px solid #64a5f0;
}

.find-btn {
    width: 80%;
    padding: 8px;
    background-color: #9DCEF4;
    color: black;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 25px;
}

.find-btn:hover {
    background-color: #B3E6FF;
    color: white;
  }


