html,body{
    height:100%;
    min-height:600px;
}
.app-wrapper{
    height: 100vh; /* 전체 화면 사용 */
}
.logo_wrap{
    display:flex;
    overflow:hidden;
    justify-content: center;
    align-items: center;
    height:100%;
    background-color:#B3E6FF;
}

.logo{
    background-color:transparent;
    position:relative;
    border:3px solid #88B2D3;
    overflow:hidden;
}
.logo>img{
    height:200px;
}
.logo>p{
    bottom:10px;
    left:25px;
    position:absolute;
    font-size:18px;
    font-weight:800;
    text-align:center;
    color: #0c356e;
}