<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/include/headerbaseLayout}"/>
    <title>승하차관리페이지</title>
    <link rel="stylesheet" href="/css/driver/manage.css">
    <script src="/js/driver/manage.js"></script>
</head>
<body>
<th:block th:replace="~{/include/baseLayout :: setContent(~{ :: .app-content})}">

    <section class="app-content">
        <div class="content-header">
            <div class="backBtn"><img src="/img/back.png" alt="뒤로가기"></div>
            <div class="header-comment-wrap">
                <p class="header-mainComment">승하차관리</p>
                <p class="header-subComment">동대문구 1노선</p>
            </div>
        </div>

        <!--지도 부분-->
        <div class="map">        
            <div class="map-img">
                <img src="/img/map.png" alt="지도이미지">
            </div>
        </div>

        <!--승하차관련-->
        <div class="children-list">
            <div class="boarding-status">3명 남음 - 1명 완료</div>

            <div class="list-card">
                <div class="list-box">
                    <div class="list-img">
                        <img src="/img/child.png" alt="아이사진">
                    </div>
                    <div class="list-content">
                        <div>홍길동(5세)</div>
                        <div>동대문구 답십리 1동</div>
                        <div>하차 시간 --:-- </div>
                    </div>
                    <div class="list-time done">하차 완료</div>
                </div>
            </div>
            <div class="list-card">
                <div class="list-box">
                    <div class="list-img">
                        <img src="/img/child.png" alt="아이사진">
                    </div>
                    <div class="list-content">
                        <div>홍길자(4세)</div>
                        <div>동대문구 답십리 2동</div>
                        <div>하차 시간 --:-- </div>
                    </div>
                    <div class="list-time">하차</div>
                </div>
            </div>
            <div class="list-card">
                <div class="list-box">
                    <div class="list-img">
                        <img src="/img/child.png" alt="아이사진">
                    </div>
                    <div class="list-content">
                        <div>홍길동(5세)</div>
                        <div>동대문구 답십리 1동</div>
                        <div>하차 시간 --:-- </div>
                    </div>
                    <div class="list-time done">하차 완료</div>
                </div>
            </div>
            <div class="list-card">
                <div class="list-box">
                    <div class="list-img">
                        <img src="/img/child.png" alt="아이사진">
                    </div>
                    <div class="list-content">
                        <div>홍길자(4세)</div>
                        <div>동대문구 답십리 2동</div>
                        <div>하차 시간 --:-- </div>
                    </div>
                    <div class="list-time">하차   </div>
                </div>
            </div>

            <script>

                $(function() {  /*js의 document.ready 이벤트*/
                    function updateBoardingStatus() {
                        var total = $('.list-time').length;
                        var done = $('.list-time.done').length;
                        var remain = total - done;
                        $('.boarding-status').text(remain + "명 남음 - " + done + "명 완료");
                    }
                    updateBoardingStatus();
                    $(document).on('click', '.list-time', function() {
                        if ($(this).hasClass('done')) return;
                        $(this).text('하차완료').addClass('done');
                        $(this).closest('.list-box').addClass('done');
                        updateBoardingStatus();
                    });
                    $(document).on('click', '.list-img', function() {
                        alert('아이상세보기');
                    });
                });

            </script>


        </div>



    </section>
</th:block>
</body>
</html>